/*
	* Картинки
*/
$img: "../img/";

/*
	* Цвета
*/
$danger: #fc4e2b;
$danger-dark: darken($danger, 20%);
/*
	* Шрифты
*/
$main-font: "Codec Pro", "Arial", "Helvetica", sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container-pc: 1600px;
$container-mb: 1200px;
